.center{
    text-align: center;
}

.heading
{
  font-family: "Al Bayan";
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
}

.tableheading{
  font-family: "Al Bayan";
  font-size: large;
  font-style: italic;
  font-weight: bold;
  background: cadetblue;
}
